body{
    background-image: url(https://media.cntraveler.com/photos/5b86ba3bc2ca957cff4b495f/16:9/w_2560%2Cc_limit/La-Colombe-Restaurant_Andrea-van-der-Spuy_2018_La-Colombe-183.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 30px;
    font-style: initial
}
